.form{
    display:flex;
    flex-direction: row;
    margin: 2rem 2rem;
    gap:1rem;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
}

.form p{
font-size: 1rem;
color: aliceblue;}

.flex-column{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 1rem;
    
}

.label{
    display: flex;
    flex-direction: column;

}
input {
    height: 2rem;
}

.error{
    color: red;
}
